@charset "UTF-8";

img {
    width: 50%;
    margin: 0 auto;
}

header h1 {
    text-align: center;
}

main {
    flex-direction: column;
    display: flex;
}

main .btn {
    width: 50%;
    margin: 0 auto;
}

main a {
    color: black;
}

main a:hover {
    opacity: 0.6;
}

footer p {
text-align: center;
}